[submodule "opcionauto"]
	path = opcionauto
	url = git@git.vauxoo.com:vauxoo/opcionauto.git
	branch = 16.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 16.0
